:root {
  --font-primary: "ABeeZee", sans-serif;
  --font-btn: "Euclid Circular A", sans-serif;

  --color-btn: #01a590;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Base */
html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

/* Elements */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}
