/* base */
@import "./base/reset.css";
@import "./base/global.css";
@import "./base/typography.css";
/* component */
@import "./components/button.css";
@import "./components/card-grid.css";
/* layout */
@import "./layout/header.css";
@import "./layout/dapp.css";
@import "./layout/future-app.css";
@import "./layout/play2earn.css";
@import "./layout/eco-tre.css";
@import "./layout/distribution.css";
@import "./layout/agency.css";
