.blog {
  padding-top: 114px;
  padding-bottom: 71px;
}
.blog-wrapper {
}
.blog-heading {
  padding-bottom: 40px;
  width: max-content;
}
.blog-heading img {
}
.blog-heading h1 {
  font-size: 72px;
  line-height: 1.2;
  color: var(--color-dark-900);
  text-align: end;
  transform: rotate(-6deg);
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 32px;
}
.blog-card {
}
.blog-card img {
  width: 100%;
  max-width: 370px;
  height: 201px;
  object-fit: cover;
}
.blog-card-heading {
  padding-top: 16px;
  font-family: var(--font-btn);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-dark-900);
}

.blog-card-subheading {
  font-family: var(--font-primary);
  font-weight: 400;
  padding-top: 8px;
  font-size: 14px;
  line-height: 1.3;
  color: #9ba1a4;
}
.blog-card-desc {
  padding-top: 12px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: var(--color-dark-800);
}

@media (max-width: 1200px) {
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

@media (max-width: 625px) {
  .blog-heading h1 {
    font-size: 48px;
    line-height: 1.2;
    color: var(--color-dark-900);
    text-align: end;
    transform: rotate(-6deg);
  }
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .blog-heading img {
    width: 100%;
    max-width: 260px;
  }
}
