.gs-dapp {
  /* margin-top: -258px; */
  z-index: 5;
  padding-top: 300px;
  padding-bottom: 262px;
  position: relative;
  background-color: var(--color-dark-600);
  clip-path: polygon(0 14%, 100% 0%, 100% 90%, 0% 100%);
}
/* line */
.gs-daap--line {
  position: absolute;
  top: 10%;
}
.gs-daap--line-icon {
}

@media (max-width: 1024px) {
  .gs-daap--line-icon {
    width: 25%;
  }
}
@media (max-width: 512px) {
  .gs-daap--line {
    position: absolute;
    top: 8%;
  }
  .gs-daap--line-icon {
    width: 20%;
  }
}

@media (max-width: 512px) {
  .gs-daap--line {
    position: absolute;
    top: 7%;
  }
  .gs-daap--line-icon {
    width: 20%;
  }
}

/* ribbon wrapper */
.ribbon-box {
  position: absolute;
  right: -30%;
}
.ribbon-wrapper {
  width: 185px;
  height: 68px;
  position: relative;
}

.ribbon {
  background: var(--color-blue);
  color: white;
  padding: 8px 16px;
  display: inline-block;
}

.ribbon span {
  display: inline-block;
  font-size: 20px;
  line-height: 16px;
}

.ribbon--top {
  position: relative;
  top: -3px;
  transform: rotate(-6deg);
}
.ribbon--bottom {
  position: relative;
  top: -10px;
  left: 70px;
  transform: rotate(-6deg);
}

@media (max-width: 1126px) {
  .ribbon-box {
    right: -23%;
  }
}
@media (max-width: 1060px) {
  .ribbon {
    padding: 5px 10px;
  }
  .ribbon-box {
    right: -9%;
  }
  .ribbon-wrapper {
    width: 94px;
    height: 33px;
    position: relative;
  }
  .ribbon span {
    font-size: 8.34px;
    line-height: 11px;
  }
  .ribbon--top {
    position: relative;
    top: -3px;
  }
  .ribbon--bottom {
    top: -10px;
    left: 45px;
  }
}

@media (max-width: 834px) {
  .ribbon-box {
    right: -1%;
  }
}
@media (max-width: 834px) {
  .ribbon-box {
    right: 10px;
  }
}

@media (max-width: 407px) {
  .ribbon-box {
    right: 41px;
    top: 36px;
  }
}

/* content */
.gs-dapp-content {
  max-width: 1065px;
  /* border: 1px solid; */
}
.gs-dapp-header {
  position: relative;
  width: 637px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  /* border: 1px solid; */
  margin-left: 25%;
  margin-bottom: 56px;
}
.gs-dapp-header h1 {
  color: var(--color-dark-900);
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.gs-dapp-header p {
  font-size: 24px;
  line-height: 1.4;
  color: var(--color-dark-900);
}
.gs-dapp-grid {
}
.gs-dapp-card {
}
.gs-dapp-card--img {
}
.gs-dapp-card--img img {
}
.gs-dapp-card--content {
}
.gs-dapp-card--content h1 {
}
.gs-dapp-card--content p {
}

@media(max-width: 976px) {
  .gs-dapp {
    margin-top: -208px;
    /* z-index: 5; */
    padding-top: 265px;
    padding-bottom: 120px;
    position: relative;
    background-color: var(--color-dark-600);
    clip-path: polygon(0 14%, 100% 0%, 100% 90%, 0% 100%);
}
}
@media (max-width: 946px) {
  .gs-dapp-header {
    margin-left: 10%;
  }
}

@media (max-width: 845px) {
  .gs-dapp-header {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 56px;
  }
}
@media (max-width: 768px) {
.gs-dapp {
    padding-top: 281px;
    padding-bottom: 262px;
    position: relative;
    background-color: var(--color-dark-600);
}
  .gs-dapp-header {
    margin: 0px auto 48px;
  }
  .gs-dapp-header h1 {
    font-size: 40px;
  }
  .gs-dapp-header p {
    font-size: 16px;
    line-height: 20px;
  }
}
