.distribution {
  margin-top: 300px;
}
.distribution-content {
}
.distribution-heading {
  text-align: center;
  margin-bottom: 82px;
}
.distribution-heading h2 {
  font-size: 48px;
  line-height: 1.2;

  color: var(--color-dark-900);
}
.distribution-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.distribution-grid--1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-end;
}
.distribution-grid--1 p,
.distribution-grid--3 p {
  font-size: 24px;
  line-height: 1.4;
  color: #273a41;
}

.distribution-grid--2 {
  margin-left: -32%;
}
.distribution-grid--3 {
  position: relative;
}
.distribution-grid--3-img {
  margin: 0 auto;
}
.grid-3-p {
  text-align: center;
}
.grid-3-p-2 {
  padding-top: 62px;
  padding-bottom: 36px;
}
.distribution-sub-grid {
  position: absolute;
  left: -20%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 53px;
}

.sub-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.sub-flex p {
  font-size: 14px;
}
