/* --- SECTION WRAPPERS --- */
.ecosystem {
  padding-top: 144px;
  position: relative;
  min-height: 945px;
}

.eco-tre {
  padding-right: 142px;
  position: relative;
}

/* --- MAIN TEXT --- */
.eco-tre-heading--1 {
  font-size: 96px;
  line-height: 1.2;
  color: var(--color-dark-900);
}

.eco-tre-content {
  /* padding-left: 305px; */
}
.eco-tre-content h1 {
  padding-left: 305px;
}

.eco-tre-para-1 {
  padding-left: 305px;
  font-size: 24px;
  line-height: 1.4;
  color: var(--color-dark-900);
}

.eco-tre-para-2 {
  font-size: 16px;
  line-height: 1.3;
  padding-left: 600px;
  color: var(--color-dark-800);
}

/* --- CIRCLE WRAPPER & OUTER CONTAINER --- */
.eco-tre-circle-wrapper {
  position: absolute;
  width: 100%;
  top: 68%;
  z-index: -1; /* Changed from -1 so children aren't hidden */
}

.eco-tre-circle--container {
  position: relative;
  width: 100%;
  max-width: 686px;
  height: 686px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Fixed rgb(256) to rgb(255) */
  background: linear-gradient(
    71deg,
    rgb(255, 255, 255) 100%,
    rgb(255, 255, 255) 88%
  );
}

/* --- THE GRADIENT CIRCLE --- */
.eco-tre-circle {
  position: relative;
  width: 100%;
  max-width: 404px;
  height: 404px;
  display: flex;
  gap: 5px;
  transform: rotate(-6deg);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    225deg,
    hsl(194deg 100% 45%) 0%,
    hsl(199deg 98% 46%) 8%,
    hsl(204deg 96% 46%) 16%,
    hsl(208deg 94% 47%) 23%,
    hsl(213deg 93% 47%) 31%,
    hsl(218deg 91% 47%) 39%,
    hsl(223deg 89% 48%) 46%,
    hsl(228deg 88% 48%) 54%,
    hsl(233deg 86% 48%) 62%,
    hsl(238deg 84% 49%) 69%,
    hsl(243deg 83% 49%) 77%,
    hsl(248deg 81% 49%) 85%,
    hsl(253deg 80% 50%) 92%,
    hsl(258deg 78% 50%) 100%
  );
  border-radius: 50%;
}

/* --- THE WHITE INNER OVERLAY --- */
.eco-tre-circle::after {
  content: "";
  position: absolute;
  width: 388px;
  height: 388px;
  background: white;
  border-radius: 50%;
  z-index: 1; /* Sits above the gradient but below the text */
}

/* --- CIRCLE CONTENT --- */
.eco-tre-circle--h,
.eco-tre-circle--p {
  position: relative;
  z-index: 2; /* Forces text to sit on top of the ::after overlay */
}

.eco-tre-circle--p {
  display: block;
  width: 50%;
  text-align: start;
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-dark-900);
}

.eco-tre-circle--h {
  font-size: 88px;
  line-height: 1;
  color: var(--color-dark-900);
}

.eco-tre-circle-bottom--p {
  position: absolute;
  font-size: 14px;
  line-height: 1.3;
  color: var(--color-dark-900);
  max-width: 270px;
  text-align: end;
  left: 0;
  bottom: 45px;
  z-index: 10;
}

.eco-tre-circle--icon {
  position: absolute;
  z-index: 3;
  left: 64px;
  bottom: 65px;
  transform: translate(-50%, 50%);
}

/* --- RIBBON SECTION --- */
.eco-tre-ribbon--wrapper {
  position: absolute;
  width: 870px;
  height: 167px; /* Cleaned up redundant auto height */
  left: 50%;
  bottom: 118px;
}

.eco-tre-ribbon--box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: rotate(-6deg);
}

.eco-tre--ribbon {
  display: inline-block;
  background-color: var(--color-blue);
  color: white;
  padding: 8px 16px;
}

.eco-tre--ribbon span {
  font-size: 48px;
  line-height: 1.1;
  display: inline-block;
}

.eco-tre-ribbon--medium {
  position: absolute;
  left: 20%;
  bottom: 29%;
}

.eco-tre-ribbon--bottom {
  position: absolute;
  left: 34%;
  bottom: -14px;
}

@media (max-width: 1254px) {
  .eco-tre--ribbon span {
    font-size: 36px;
  }
  .eco-tre-ribbon--medium {
    bottom: 39%;
  }
  .eco-tre-ribbon--bottom {
    bottom: 18px;
  }
}
@media (max-width: 1120px) {
  .eco-tre--ribbon span {
    font-size: 24px;
  }
  .eco-tre-ribbon--medium {
    bottom: 51%;
    left: 11%;
  }
  .eco-tre-ribbon--bottom {
    bottom: 44px;
    left: 20%;
  }
}

@media (max-width: 1000px) {
  .eco-tre-heading--1 {
    font-size: 72px;
  }
  .eco-tre-content h1 {
    padding-left: 220px;
  }
  .eco-tre-para-1 {
    padding-left: 227px;
  }
  .eco-tre-para-1 br {
    display: none;
  }

  .eco-tre-para-2 {
    padding-left: 360px;
  }
  .eco-tre-circle-wrapper {
    top: 100%;
  }
  .eco-tre-circle--container {
    max-width: 450px;
    height: 450px;

    /* background: aqua; */
  }
  .eco-tre-circle {
    max-width: 320px;
    height: 320px;
  }
  .eco-tre-circle::after {
    width: 300px;
    height: 300px;
  }
  .eco-tre-ribbon--wrapper {
    position: absolute;
    width: 870px;
    height: 167px;
    left: 50%;
    bottom: 30px;
  }

  .eco-tre-circle-bottom--p {
    position: absolute;
    font-size: 14px;
    line-height: 1.3;
    color: var(--color-dark-900);
    max-width: 270px;
    text-align: end;
    left: 0;
    bottom: -30px;
    z-index: 10;
  }
}

@media (max-width: 855px) {
  .eco-tre-heading--1 {
    font-size: 56px;
  }
  .eco-tre-content h1 {
    padding-left: 146px;
  }
  .eco-tre-para-1 {
    padding-left: 100px;
  }
  .eco-tre-para-2 {
    padding-left: 200px;
  }
}
@media (max-width: 725px) {
  .eco-tre {
    padding-right: 0px;
  }
  .eco-tre--ribbon span {
    font-size: 16px;
  }
  .eco-tre-ribbon--medium {
    bottom: 60%;
    left: 8%;
  }
  .eco-tre-ribbon--bottom {
    bottom: 71px;
    left: 15%;
  }
  .eco-tre-circle--h {
    font-size: 40px;
    line-height: 1;
    color: var(--color-dark-900);
  }
  .eco-tre-circle--p {
    display: block;
    width: 37%;
    text-align: start;
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-dark-900);
  }
  .eco-tre-para-1 {
    padding-left: 16px;
    font-size: 20px;
  }
  .eco-tre-para-2 {
    padding-left: 87px;
  }
  .eco-tre-ribbon--wrapper {
    position: absolute;
    width: 870px;
    height: 167px;
    left: 45%;
    bottom: 38px;
  }
}

@media (max-width: 558px) {
  .eco-tre-ribbon--wrapper {
    position: absolute;
    width: 870px;
    height: 167px;
    left: 55%;
    bottom: -48px;
  }
  .eco-tre-heading--1 {
    font-size: 40px;
  }
  .eco-tre-para-1 {
    padding-left: 16px;
    font-size: 16px;
  }
  .eco-tre-para-2 {
    padding-top: 28px;
  }
  .eco-tre-circle::after {
    width: 104px;
    height: 104px;
  }
  .eco-tre-circle--h {
    font-size: 24px;
    line-height: 1;
    color: var(--color-dark-900);
  }
  .eco-tre-circle--p {
    display: block;
    width: 17%;
    text-align: start;
    font-size: 8px;
    line-height: 1.2;
    color: var(--color-dark-900);
  }
  .eco-tre-circle {
    max-width: 115px;
    height: 115px;
  }
  .eco-tre-circle--icon {
    position: absolute;
    z-index: 3;
    left: 29px;
    bottom: 16px;
    transform: translate(-50%, 50%);
    width: 40px;
    height: 60px;
  }
  .eco-tre-circle--container {
    max-width: 190px;
    height: 190px;
    /* background: aqua; */
  }
  .eco-tre-circle-bottom--p {
    position: absolute;
    font-size: 14px;
    line-height: 1.3;
    color: var(--color-dark-900);
    max-width: 270px;
    text-align: end;
    left: 0;
    bottom: -102px;
    z-index: 10;
  }
  .eco-tre--ribbon span {
    font-size: 12px;
  }
  .eco-tre--ribbon {
    display: inline-block;
    background-color: var(--color-blue);
    color: white;
    padding: 0px 9px;
  }
  .eco-tre-ribbon--medium {
    bottom: 74%;
    left: 5%;
  }
  .eco-tre-ribbon--bottom {
    bottom: 105px;
    left: 11%;
  }
}
