.gamex-card {
  overflow: visible;
  z-index: 1;
  margin-top: 118px;
  background-color: #1b1f21;
  height: 668px;
  display: flex;
  align-items: center;
  clip-path: polygon(0 1%, 100% 14%, 100% 91%, 60% 96%, 50% 86%, 0 100%);
}
.gamex-wrapper {
  width: 100%;
  color: white;
  display: flex;
  border: 1px solid wheat;
}
.gamex-content {
}
.gamex-content,
.gamex-img {
  flex: 1;
}
.gamex-heading {
  font-size: 112px;
  line-height: 1.2;
  color: inherit;
  position: relative;
}
.gamex-heading-top,
.gamex-heading-middle,
.gamex-heading-bottom {
  display: block;
  transform: rotate(-6deg);
  margin-bottom: -43px;
}
.gamex-heading-top {
}
.gamex-heading-middle {
  padding-left: 20%;
}
.gamex-heading-bottom {
  padding-left: 50%;
  margin-bottom: 0;
}
.gamex-subheading {
  font-size: 32px;
  line-height: 1.4;
  padding-left: 100px;
}
.gamex-subheading a {
  color: #00b3e8;
  text-decoration: underline;
}

.gamex-img {
  z-index: 10;
  transform: rotate(81.52deg);
}
