.gamex-card {
  /* border: 2px solid red; */
  position: relative;
  padding-top: 100px;
  margin-top: 118px;
  height: 910px;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 96%, 65% 100%, 57% 87%, 0 100%);
}
.gamex-bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: #1b1f21;
  clip-path: polygon(0 0, 100% 14%, 100% 100%, 65% 100%, 48% 100%, 0 100%);
}
.gamex-wrapper {
  height: inherit;
  width: 100%;
  color: white;
  display: flex;
  /* border: 1px solid wheat; */
}
.gamex-content {
}
.gamex-content,
.gamex-img {
  flex: 0 0 1;
}
.gamex-heading {
  font-size: 112px;
  line-height: 1.2;
  color: inherit;
  position: relative;
}
.gamex-heading-top,
.gamex-heading-middle,
.gamex-heading-bottom {
  display: block;
  transform: rotate(-6deg);
  margin-bottom: -43px;
}
.gamex-heading-top {
}
.gamex-heading-middle {
  padding-left: 20%;
}
.gamex-heading-bottom {
  padding-left: 50%;
  margin-bottom: 0;
}
.gamex-subheading {
  font-size: 32px;
  line-height: 1.4;
  padding-left: 100px;
}
.gamex-subheading a {
  color: #00b3e8;
  text-decoration: underline;
}
.gamex-img {
  height: inherit;
}
.gamex-img img {
  width: 100%;
  height: inherit;
  z-index: 10;
  transform: rotate(81.52deg);
  /* border: 1px solid red; */
}
