/* Header Section */
.gs-header {
  position: relative;
  z-index: 999;
}

/* navbar */
.gs-menu-toggle {
  display: none;
}
.gs-nav {
  padding-top: 31px;
}
.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 100%;
  max-width: 201px;
}
.nav__logo img {
  width: 100%;
  max-width: 201px;
}
.nav__list {
  display: flex;
  gap: 38px;
}
.nav__item {
}
.nav__link {
  font-size: 13px;
  line-height: 1;
  color: white;
}
.nav__btn {
  padding: 12px 16px;
  background: white;
  width: 100%;
  max-width: 99px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-btn);
}
/* --------HERO SECTION----------- */
.gs-hero {
  /* z-index: 6; */
  position: relative;
  width: 100%;
  /* height: 830px; */
  background: #f5f9fa;
}
.header-bg {
  width: 100%;
  margin-top: -71px;
  position: absolute;
  background-image:
    linear-gradient(
      -45deg,
      rgba(0, 170, 139, 0.9) 0%,
      rgba(0, 125, 132, 0.9) 56%,
      rgba(0, 134, 176, 0.9) 100%
    ),
    url("../../assets/images/gs__hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 780px;
  clip-path: polygon(100% 0, 100% 39%, 100% 78%, 0 100%, 0 0);
}

/* =========HERO CONTENT======== */
.hero-container {
  position: relative;
}
.gs-hero__content {
  color: white;
  padding-top: 66px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: max-content;
  max-width: inherit;
  z-index: 999;
  /* border: 1px solid; */
}

.gs-hero__heading h1 {
  font-size: 64px;
  line-height: 1.1;
}
.gs-hero__subcontent {
  width: 100%;
  max-width: 442px;
  margin-left: 68px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.gs-hero__subcontent p {
  font-size: 20px;
  line-height: 1.2;
}
.gs-hero__subcontent-links {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.gs-subcontent__buybtn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.gs-subcontent__buybtn p {
  font-size: 16px;
  line-height: 1;
}
.gs-subcontent__buttons {
  display: flex;
  gap: 12px;
}
.gs-subcontent__button {
  font-size: 20px;
  line-height: 16px;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 24px;
  background: white;
  border-radius: 8px;
}
.gs-join-community {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.gs-join-community p {
  font-size: 16px;
  line-height: 1;
}
.gs-social {
  display: flex;
  gap: 12px;
}
.button-outline {
  border: 1px solid white;
  border-radius: 6px;
  display: flex;
  gap: 10px;
  padding: 20px 16px;
  background: transparent;
}

.button-outline img {
  width: 24px;
  height: 24px;
}
/* =========HERO IMAGE======== */
.gs-hero__image {
  /* border: 1px solid; */
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  /* z-index: 2; */
}
.gs-hero__img-container {
  position: relative;
  width: inherit;
  height: inherit;
}
.hero-1 {
  position: absolute;
  z-index: 0;
  top: -125px;
  right: 43px;
}
.hero-2 {
  position: absolute;
  z-index: 20;
  right: -61px;
  top: -54px;
}
.hero-3 {
  position: absolute;
  z-index: 10;
  bottom: 24px;
  right: 0;
}

/* ==========RESPONSIVE============== */

@media (max-width: 1000px) {
  /* navbar */
  /* show hambuger */
  .gs-menu-toggle {
    display: block;
    z-index: 1001;
  }
  .nav__list,
  .nav__btn {
    display: none;
  }
  .nav__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    padding: 80px 0 40px;
    background: #000;
    transition: top 0.4s ease;
    z-index: 1000;
  }

  .nav__list.active {
    top: 0;
  }

  .nav__link {
    font-size: 18px;
  }
}
