/* Header Section */
.gs-header {
  /* position: relative; */
  background-image: url("../../assets/images/gs__hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* navbar */
.gs-nav,
.gs-hero {
  position: relative;
  z-index: 2;
}
.gs-nav {
  padding: 31px 32px 0 32px;
}
.nav__container {
  /* border: 1px solid white; */
  width: 100%;
  max-width: 1376px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  max-width: 201px;
  width: 100%;
}
.nav__logo img {
}
.nav__list {
  display: flex;
  gap: 38px;
}
.nav__item {
}
.nav__link {
}
.nav__btn {
  padding: 12px 16px;
  background: white;
  width: 100%;
  max-width: 99px;
  /* height: auto; */
  border-radius: 6px;
}
