.incubation {
  margin-top: 170px;
  margin-bottom: 118px;
  position: relative;
}
.incubation-line {
  position: absolute;
  top: 40%;
  left: 0;
}
.incubation-wrapper {
  width: 100%;
  margin: 0 auto;
}
.incubation-content {
  width: 100%;
  max-width: 873px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-self: center;
}
.incubation-heading {
  font-size: 96px;
  line-height: 1.2;
  color: var(--color-dark-900);
}

.incubation-sub-heading {
  font-size: 24px;
  line-height: 1.4;
}
.incubation-services {
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-dark-800);
}
.incubation-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 75px;
  row-gap: 24px;
}
.incubation-list {
  font-size: 18px;
  line-height: 1.3;
  color: var(--color-dark-800);
}
.incubation-list::before {
  content: "";
  padding-right: 40px;
  height: 24px;
  width: 24px;
  background: url("../../assets/icon/check.svg") no-repeat center;
}
