.incubation {
  margin-top: 170px;
  margin-bottom: 118px;
  position: relative;
}
.incubation-line {
  position: absolute;
  top: 40%;
  left: 0;
}
.incubation-wrapper {
  width: 100%;
  margin: 0 auto;
}
.incubation-content {
  width: 100%;
  max-width: 873px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-self: center;
}
.incubation-heading {
  font-size: 96px;
  line-height: 1.2;
  color: var(--color-dark-900);
  margin-bottom: 18px;
  text-align: center;
}

.incubation-sub-heading {
  font-size: 24px;
  line-height: 1.4;
}
.incubation-services {
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-dark-800);
}
.incubation-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 75px;
  row-gap: 24px;
}
.incubation-list {
  font-size: 18px;
  line-height: 1.3;
  color: var(--color-dark-800);
}
.incubation-list::before {
  content: "";
  padding-right: 40px;
  height: 24px;
  width: 24px;
  background: url("../../assets/icon/check.svg") no-repeat center;
}

@media (max-width: 865px) {
  .incubation {
    margin-top: 60px;
    margin-bottom: 118px;
    position: relative;
  }
  .incubation-heading {
    font-size: 60px;
    line-height: 1.2;
    color: var(--color-dark-900);
    margin-bottom: 18px;
    text-align: center;
  }
  .incubation-sub-heading {
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }
  .incubation-line {
    position: absolute;
    top: 40%;
    left: 0;
    display: none;
  }
}
@media (max-width: 600px) {
  .incubation-services {
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: var(--color-dark-800);
  }
  .incubation-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* column-gap: 75px; */
    row-gap: 24px;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .incubation-heading {
    font-size: 40px;
    line-height: 1.2;
    color: var(--color-dark-900);
    margin-bottom: 18px;
    text-align: center;
  }
  .incubation-sub-heading {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
  }
  .incubation-list {
    font-size: 14px;
    line-height: 1.3;
    color: var(--color-dark-800);
  }
}
