.partner {
  padding-bottom: 62px;
}
.partner-heading {
  padding-bottom: 23px;
}
.partner-heading h1 {
  color: var(--color-dark-900);
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.partner-grid {
  display: grid;
  grid-template-columns: repeat(6, 169px);
  grid-template-rows: repeat(3, 109px);
  gap: 23px 32px;
}
.partner-div {
  border: 1px solid #eef3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-div img {
  object-fit: contain;
}

@media (max-width: 1200px) {
  .partner-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 23px 32px;
  }
}

@media (max-width: 600px) {
  .partner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 23px 32px;
  }
}
@media (max-width: 600px) {
  .partner-heading h1 {
    color: var(--color-dark-900);
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .partner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 23px 32px;
  }
}
