/* ========team========== */
.team {
  padding-top: 201px;
}
.team-wrapper {
}
.team-parent {
  display: grid;
  grid-template-columns: 370px 301px 301px;
  grid-template-rows: repeat(5, 1fr);
  column-gap: 32px;
}

.team-div1 {
  grid-row: span 5 / span 5;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.team-heading {
  padding-bottom: 12px;
  text-align: end;
  width: min-content;
  margin-left: -44px;
}
.team-heading h1 {
  font-size: 72px;
  line-height: 1.2;
  color: var(--color-dark-900);
}

.team-div2 {
  grid-row: span 5 / span 5;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.team-div3 {
  grid-row: span 5 / span 5;
  padding-top: 123px;
  padding-left: 70px;
}

/* team card */
.team-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.team-card img {
  max-width: 268px;
  width: 100%;
}
.team-info {
}
.team-info h1 {
  font-family: var(--font-btn);
  font-weight: 400;
  color: #00b3e8;
  font-size: 24px;
  line-height: 1.2;
}
.team-info p {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #9ba1a4;
}
.team-desc {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--color-dark-800);
}

/* ========== ADVISOR  ================= */
.advisor-wrapper {
  padding-top: 102px;
}
.advisor-heading {
  padding-bottom: 46px;
}
.advisor-heading h1 {
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.advisor-parent {
  display: flex;
  gap: 56px;
}
.advisor-div {
  width: 100%;
  max-width: 246px;
}
.advisor-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.advisor-card img {
  max-width: max-content;
}
.advisor-info {
}
.advisor-info h1 {
  font-size: 20px;
  line-height: 1.2;
  font-family: var(--font-btn);
  font-weight: 400;
  color: #00b3e8;
}
.advisor-info p {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #9ba1a4;
}
.advisor-desc {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--color-dark-800);
}
