/* ========team========== */
.team{
    padding-top: 201px;
}
.team-wrapper{}
.team-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.team-div1 {
    grid-row: span 5 / span 5;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.team-heading{
    padding-bottom: 12px;
}
.team-heading h1{
    font-size: 72px;
    line-height: 1.2;
    color: var(--color-dark-900);
}

.team-div2 {
    grid-row: span 5 / span 5;
}

.team-div3 {
    grid-row: span 5 / span 5;
}

/* team card */
.team-card{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.team-card img{
    
}
.team-info{}
.team-info h1{
      font-family: var(--font-btn);
  font-weight: 400;
  color: #00B3E8;
  font-size: 24px;
  line-height: 1.2;
}
.team-info p{
     font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #9BA1A4;
}
.team-desc{
     font-family: var(--font-primary);
  font-weight: 400;
  font-size: 12px;
    line-height: 1.3;
  color: var(--color-dark-800);
}