/* Base */
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
}

@media (max-width: 786px) {
  .container {
    padding: 0 16px;
  }
}
