/* Base */
html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
}
