:root {
  --font-primary: "ABeeZee", sans-serif;
  --font-btn: "Euclid Circular A", sans-serif;
  --color-btn: #01a590;
  --color-dark: #38484e;
  --color-dark-600: #f5f9fa;
  --color-dark-800: #38484e;
  --color-dark-900: #273a41;
  --color-blue: #00b3e8;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Elements */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}
