/* 

--font-primary: "ABeeZee", sans-serif;
 --font-btn: "Euclid Circular A", sans-serif;
*/

/* AbeeZee font */
@font-face {
  font-family: "ABeeZee";
  src:
    url("../../assets/fonts/ABeeZee.woff2") format("woff2"),
    url("../../assets/fonts/ABeeZee.otf") format("opentype"),
    url("../../assets/fonts/ABeeZee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src:
    url("../../assets/fonts/Neue-Machina.woff") format("woff"),
    url("../../assets/fonts/Neue-Machina.woff2") format("woff2"),
    url("../../assets/fonts/Neue-Machina.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../../assets/fonts/NeueMachina-Ultrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../../assets/fonts/Euclid-Circular-A-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../../assets/fonts/Euclid-Circular-A-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.text-primary-normal {
  font-family: var(--font-primary);
  font-weight: normal;
}

.heading-1 {
  font-family: "Neue Machina", sans-serif;
  font-weight: 800;
}
.text-abzee-normal {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
.text-ecu-regular {
  font-family: var(--font-btn);
  font-weight: 400;
}
.text-ecu-medium {
  font-family: var(--font-btn);
  font-weight: 500;
}
