/* reuse part */
.gs-card-grid {
  width: 100%;
  max-width: 1100px;
  padding-left: 101px;
  padding-right: 185px;
  display: grid;
  grid-template-columns: repeat(2, 490px);
  gap: 67px 110px;
}
.gs-card {
  display: flex;
  gap: 24px;
}
.gs-card--img {
  width: 100%;
  max-width: 64px;
}
.gs-card--img img {
  width: 64px;
  height: 64px;
}
.gs-card--content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.gs-card--content h1 {
  color: var(--color-blue);
  font-size: 28px;
  line-height: 1;
}
.gs-card--content p {
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-dark-800);
}

@media (max-width: 1234px) {
  .gs-card-grid {
    width: 100%;
    max-width: 1100px;
    padding-left: 0px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 50px;
  }
}
@media (max-width: 768px) {
  .gs-card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 425px) {
  .gs-card {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
  }
}
